doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/style1.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Document
    body
        #particles-js
        script(src='./../routes/js/particles.js')
        // <script src="js/app.js"></script>
        // <script src="js/particles.min.js"></script>
        script.
        particlesJS.load('particles-js', './../particles.json', () => {
        console.log('particles1.js loading...');
        });
